<h3 align = "center">Employee List</h3>
<div>
<table class = "table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Contact no.</th>
        <th>Address</th>
        <th>Username</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Qualification</th>
        <th>Experience</th>
        <th>Coding Languages known</th>
        <th></th>
    </tr>
    <tr *ngFor = "let emp of empList">
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.contact}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.username}}</td>
        <td>{{emp.password}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.qualificationSelected}}</td>
        <td>{{emp.experienceSelected}}</td>
        <td>
         <label *ngFor = "let lang of emp.codingLanguages">
            <label name = "selectedLang" *ngIf = "lang.checked">| {{lang.name}} | </label>
        </label>
        </td>
        <td><button (click) = "delete(emp)">Delete</button>
            <button (click) = "editemp(emp)" >Edit</button></td>
    </tr>
</table>
</div>
<div style = "margin-top : 30px">
<button class = "btn btn-primary" routerLink = "/home">Add Employee</button>
</div>